<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../css/home.css" /> 
    <title> State Of The Art Banking API </title>
</head>
<body>
    <section class="main-section" data-test="data"> 
        <div class="para-div"> 
            <h1> Description </h1>
            <p> 
                At Lendsqr , many of our lenders use our mobile apps to reach over half a million customers.
                At this scale, we use NodeJS with TypeScript as its backend software development stack which allows us to rapidly ideate and release features and functionality.
                This application sole function is to allow users register, login, perform withdraws, transfer funds and check their respective account balance. <br> 

                Visit the <b> Github </b> repo link to start using the API: <a class="link" href="https://github.com/cboychinedu/lendsqr-be-test-backend"> link </a> <br> 
                Download the mobile application here: <a class="link" href="/download"> link </a> <br> 
            </p>
        </div>
        <div class="first-div">
            <h3 class="header"> <center> State Of The Art Banking Application </center> </h3>

            <div>
                <img src="../images/banking_api.jpg" class="image" /> 
            </div>

        </div>

        <div class="second-div"> 
            <h3 class="header"> <center> Block Flow Diagram Of The Process </center> </h3>

            <div> 
                <img src="../images/lendsqr-backend.jpg" class="image" />
            </div>

        </div>
    </section>

</body>
</html>